.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.aside{
    width:14%;
    height:100%;
    display: flex;
    padding:0 2%;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #222222;
  
}
.main-side{
    width:86%;
}
header{
    height:87px;
    top: 0;
    padding:2%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.aside-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:15px;
}
.navbar ul li a{
    text-decoration: none;
}
.following ul li a{
    text-decoration: none;
}
.first-section-side{
    margin:0 9%;
}
.header-right, .search, .first-section-side, .first-section-side ul, .content-articles,
.load-more, .view-designers, .top-designers, .top-designers div, .media-icons,
.upload, .filter button{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer, .quantity, .articles-menu-first-section-side, .content-articles{
    margin:0 9%;
}
.box-1-div{
    display: flex;
}
.box-2-div{
    display: flex;
}
button{
    cursor: pointer;
}

.logo{
    flex-wrap: wrap;
    margin-top:42px;
}
.today{
    display: flex;
    
    line-height: 32px;
}

button{
    background: none;
    border:none;
}
.burger{
    margin-top:10px;
}
.navbar a, .following a{
    height:60px;
    display: flex;
    align-items: center;
   
    line-height: 21px;
    text-transform: capitalize;
}

.load-more, .top-designers button, .first-section-side button, .navbar a, .following a{
    transition: all 0.3s linear;
}
.navbar img, .following img{
    margin-right:15px;
    margin-left:5%;
}
.following img{
    width: 40px;
}
.navbar{
    margin-top:10%;
}
.following{
    margin-top:45px;
    margin-bottom:10%;
}
.following h3{
    padding-left:20px;
    margin-bottom: 30px;
    line-height: 15px;
    text-transform: uppercase;
}
.today{
    display: flex;
    
    line-height: 30px;
    text-decoration: none;
}

.following  li a:nth-last-child() {
    padding-left:40px;
}
.load-more{
    
    line-height: 20px;
}


.search{
    width:27%;
    height: 56px;
    justify-content: space-between;
    background-color: #F8F8F8;
    border-radius: 12px;
    padding:0 1%;
}
.search span{
    opacity: 50%;
    line-height: 15px;
}
.header-right{
    width:35%;
    justify-content: space-between;
}
.header-right a:nth-child(1){
    color:#FF2288;
    text-transform: uppercase;
   
}

.button-2{
    width:25px;
    height:25px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.button-2{
    transform: translate(50%, -50%);
    width:10px;
}
.upload{
    width:125px;
    height:57px;
    background-color: #FF2288;
    border-radius: 12px;
}
.upload button{
    color:white;
}

.header-right a, .header-right div, .header-right button{
    margin-right:1%;
}

.content-articles{
    flex-wrap: wrap;
    justify-content: space-between;
}
.first-section-side, .view-designers{
    justify-content: space-between;
}
.first-section-side{
    margin-top:40px;
    margin-bottom:40px;
}
.list button{
    width:100%;
    height:56px;
    margin-right:40px;
    font-size:16px;
    line-height: 21px;
    text-align: center;
}


.filter{
    width:10%;
}
.filter button{
    width:100%;
    height:56px;
    justify-content: space-around;
    color:#222222;
}
.filter{
   
    line-height: 21px;
}
.content-articles a{
    margin-bottom:40px;
}
.box-1{
    display: block;
    width:288px;
    height:278px;
}
.box-1 img{
    width:100%;
}
.box-1 p{
    text-align:left;
   text-decoration: none;
    margin-left:8%;
}


.load-more{
    width:280px;
    height:55px;
    margin:0 auto;
    background-color: #F2F2F2;
    border-radius: 10px;
   
    margin-bottom:70px;
}
.load-more button{
    background: none;
    border: none;

}

.box-1{
    position: relative;
}


.designers-section{
    padding:65px 7%;
    background-color: #FAFAFA;
}
.top-designers {
    flex-wrap: wrap;
    margin-top:50px;
    justify-content: space-between;
}


.top-designers div{
    flex-direction: column;
    margin: 1%;
    text-align: center;
}
.top-designers h4{
    margin: 15px auto;
    width:70px;
    height:42px;
    color:#222222;
  
}
.top-designers p{
   
    color:#222222;
    opacity: 60%;
    margin-bottom:15px;
}
.top-designers button{
    width:100%;
    height:44px;
    border:1px solid #D8D8D8;
    border-radius:12px;
    line-height:19px;
    text-align:center;
}
.following-btn{
    background-color:#F2F2F2;
}

.footer-div-1{
    display: flex;
    justify-content: space-between;
    margin-top:65px;
    margin-bottom:72px;
}
.footer-div-1 h4{
    color:#222222;
    font-size: 16px;
    font-family: 'Avenir 85';
    margin-bottom: 34px;
}
.footer-div-1 li{
    margin-bottom:20px;
    color:#222222;
   
}


.media-icons{
    margin:40px 0;
    justify-content: space-between;
}
.media-icons div{
    width:125px;
}
.media-icons img{
    margin-right:3%;
}
.media-icons p{
    color: #222222;
    font-size: 16px;
    font-family: 'Avenir';
}
.media-icons span{
    font-family: 'Avenir 85';
}


table{
    width:100%;
    margin-top:30px;
    text-align: left;
}
.quantity tr{
    height:70px;
    border-bottom: 1px solid #E7E7E7;
}
.quantity th{
    vertical-align: middle;
}
.quantity td{
    font-size: 16px;
    font-family: 'Avenir 85';
    color:#AFAFAF;
    vertical-align: middle;
}
.quantity tr:last-child{
    border:none;
}
.footer-div-1 div ul li a{
    text-decoration: none;
}
thead{
    height: 80px;
    border-bottom: 1px solid #E7E7E7;
    font-size: 18px;
    font-family: 'Avenir 85';
    color:#111111;
}
tbody tr{
    transition: all 0.3s linear;
}
.box-1 p{
    color:#111111;
}




/* hovers */
tbody tr:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
    cursor: pointer;
}
tbody tr:hover td{
    color:#9c22ff;
    
}
tbody tr:hover td:first-child{
    border-radius: 12px 0 0 12px;
    padding-left:3%;
}
tbody tr:hover td:last-child{
    border-radius: 0 12px 12px 0;;
}



.first-section-side button:hover{
    background-color:plum;
    border-radius: 12px;
    box-shadow: 0 0 10px #9c22ff,0 0 40px #9c22ff,0 0 80px #9c22ff;
}
.upload:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}

.search img:hover{
    transform: scale(1.1);
    
}
.box-1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #9c22ff,0 0 40px #9c22ff,0 0 80px #9c22ff;
}
.burger:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #dde5ec,0 0 40px #dde5ec,0 0 80px #dde5ec;
}
.following h3:hover{
    transform: scale(1.1);
}

.load:hover{
    transform: scale(1.1);
}
.load-more:hover{
    transform: scale(1.1);
    background-color: plum;
     box-shadow: 0 0 10px #9c22ff,0 0 40px #9c22ff,0 0 80px #9c22ff;
}
.header-right a:hover{
    transform: scale(1.1);
}
   
.button-1:hover{
    transform: scale(1.1);
}
  

.navbar a:hover,  .top-designers button:hover{
    background-color: #FF2288;
    border-radius: 12px;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
   
}
.filter button:hover{
    background-color:plum;
}
.view-designers a:hover{
    transform: scale(1.1);
}
.media-icons:hover{
    transform: scale(1.1);
    
}
.top-designers div{
    transform: scale(1.1);
}




/* fonts */

.aside-div p{
    font-size: 24px;
    color:#FFFFFF;
    font-family: 'Avenir';
}
.aside-div span{
    font-size: 24px;
    font-family: 'Avenir LT Std';
    color:#FFFFFF;
}
.navbar ul li p{
    font-size: 16px;
    font-family: 'Avenir LT 65';
    color:#FFFFFF;
}
.following h3{
    font-size: 12px;
    font-family: 'Avenir 85';
    color:#FFFFFF;
}
.following ul li a{
    font-size: 16px;
    color:#FFFFFF;
    font-family: 'Avenir 85';

}
.search span{
    font-size: 14px;
    color:#111111;
    font-family: 'Avenir 85';
}
.header-right a:first-child{
    font-size: 14px;
    color:#FF2288;
    font-family: 'Avenir 85';
    text-decoration: none;
}
.list ul li{
    font-size: 16px;
    color:#222222;
    font-family: 'Avenir LT Std';
}
.box-1 p{
    font-size: 18px;
}
.media-icons div p{
    font-size: 16px;
    color:#222222;
    font-family: 'Avenir LT Std';
}


h4{
    font-size: 16px;
    color:#222222;
    font-family: 'Avenir 85';
}
.footer-div-1 ul li{
    font-size: 16px;
    color:#222222;
    font-family: 'Avenir 85';
}

.view-designers h3{
    color: #222222;
    font-size: 32px;
    font-family: 'Avenir 85';
    
}
.view-designers a{
    color: #222222;
    font-size: 14px;
    font-family: 'Avenir 85';
}



@media  (max-width:480px){
    .aside{
        padding:3px;
    }
    .aside-div{
        display: none;
    }
    .navbar ul li p{
        display: none;
    }
    .navbar{
        padding-left:3px;
    }
    .following h3{
        display: none;
    }
    .load{
        padding:1px;
    }
    .first-section-side{
        display: none;
    }
    .content-articles{
        margin:0;
    }
    header{
        display: flex;
        justify-content: space-around;
       
    }
    .header-right a:nth-child(1){
        display: none;
    }
    .search{
         width:70px;
        padding-left:2px;
    }
    .button-1,.upload{
        display: none;
    }
    .top-image{
        width: 77px;
    }
    .top-designers div{
        margin:3%;
    }
    .designers-section{
        background-color: white;
    }
    .main-content{
        margin-left:30px;
    }
    header{
        margin-left:20px;
    }
}
.aside{
    overflow: hidden;
}