/* * {
    box-sizing: border-box;
  }
   */
  /* Style the search field */
   /* form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0.5px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
    border-radius: 10px;
   } */

  
  /* .search{
    
    padding-top: 20px;
}
.main-page{
    max-width: 1920px;
}
aside{
    display:inline-block;
    height: 1080px;
    width: 15%;
    background-color: black;
    position: relative;
}
  */
  
 /* body{
     max-width: 1700px;
 } */

/* .header-right{
    display: flex;
} */
/* .header-right img{
    padding-left: 1000px;
}
.container{
    width: 70%;
    margin:0 auto;
}
.header-left{
    display: flex;
}
 h1{
     position: absolute;
     color:cornsilk;
     margin-top: 20px;
     margin-left: 10px;
 }  */


 /* sidebar side */
 .search-icon,.design,header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2%;

 }
 .home{
    width: 186px;
    height: 44px;
   
    border-radius: 5px;
    color: #F0F0F0;
    font-size: 17px;
    
    background-image: linear-gradient(to right,#FF2288);
    cursor: pointer;
    background-color: #FF2288;
    
 }

 .home a{
     text-decoration: none;
     font-size: 16px;
 }
.button-1{
    width: 186px;
    height: 44px;
   
    border-radius: 5px;
    color: #F0F0F0;
    font-size: 17px;
    
    background-color: black;
    background-image: linear-gradient(to right);
    cursor: pointer;
    margin:20px 0;
    border: hidden;
    cursor: pointer;
    outline: none;
    }
 .button{
       margin-top:40px;
}
    .design{
        margin:30px 20px;
    }
    
.wrapper{
    display: flex;
    /* position: relative; */

}
.wrapper,.sidebar{
    position: fixed;
    width: 250px;
    height: 750px;
    background-color: black;
    /* padding:10px 0; */
    left:0;
    top:0;
    padding-top:30px;
    /* transform: translate(-300px);
    transition: transform 300ms ease-in-out; */
    /* opacity: 0; */
    
}


.wrapper,.sidebar ul li{
    padding:15px;
    border-bottom: 1px solid rgba(0, 0,0, 0.05);
    border-top: 1px solid rgba(225, 225,225, 0.05);
}

.sidebar ul li a{
    padding:20px;
    text-transform: uppercase;
}
.wrapper,.sidebar h1{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* main side, mid container */
.header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    
}
.main-content{
    width: 80%;
    margin-left: 20%;
}
.mid-container-1{
    display: flex;
    flex-wrap: wrap;
}
.mid-container-2{
    display: flex;
    flex-wrap: wrap;
}
.mid-container-3{
    display: flex;
    background-color: #FAFAFA;
    flex-wrap: wrap;
}
.mid-container-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mid-container-5{
    display: flex;
    flex-wrap: wrap;
}
.mid-container-3 div{
    padding:15px;
}

.search-icon{
    width: 25%;
    height: 55px;
    position: relative;
}

.mid-section-left-side{
    display: flex;
    align-items: center;
}
.mid-section{
    display: flex;
    margin-top: 60px;
}
.mid-section h2{
    font-size: 16px;
    font-family: 'Book';
    margin-left: 50px;

}
.mid-section-right-side{
    margin-left: 400px;
}

.header-right a{
   font-size: 15px;
   color:black;
   vertical-align: middle;
}
h3{
    color:white;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

/* .header-right{
    display: flex;
} */
.upload{
    border-radius: 15px;
    width: 100px;
    height: 56px;
    background-color: #FF2288;
    border:none;
}
.icon-1{
    width: 50px;
    vertical-align: middle;
    padding-right: 20px;
    padding-top: 5px;
    margin-left: 20px;
}

.box-1 p{
    padding-left: 30px;
}

.following p{
    color:white
    
}
/* .names{
    display: inline-block;
    color:white;
} */
.load a{
    font-size: 14px;
    text-decoration: none;
    color:white;

}
.load {
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
}
.mid-container-3 h2{
    font-size: 32px;
    height: 50px;
}
.top{
    display: flex;
}
.mid-container-3 h3{
    font-size: 20px ;
    height:30px;
    margin-left:1000px;
    text-decoration: none;
}
.main-container-3 div{
    padding:10px;
}
/* articles-nav side */

/* .articles-nav ul{
    display: flex;
}
.articles-nav{
    display: flex;
}

.articles-nav ul li{
    padding:20px;
}
.articles-nav ul li button{
    border:hidden;
    background-color: white;
    font-size: 16px;
    padding:5px;
}
.articles-nav ul .all button{
    background-color:#F2F2F2;
    padding:5px;
    font-size: 16px;;
}
.articles-nav{
    margin-left:40px;
}
.articles-nav div{
    display: flex;
} */
.all{
   padding:5px;
    background-color:#F2F2F2;
    font-size: 16px;
}

.load {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:40px;
    
}
.load button{
    width:200px;
    background-color: #F2F2F2;
    border-radius: 20px;

}
.load-more{
    font-size: 16px;
}
.filter button{
    height: 25px;
    margin-top: 20px;
    padding-left:25px;
    width: 70px;
    background: url(../images/1-18.png) no-repeat;
    float: left;
    border-radius: 5px;
    border-color: #F2F2F2;
}


.following p{
    color:white
    
}
.following{
    display: flex;
    align-items: center;
}
.following{
    padding:5px;
}
/* .following .names{
    display: inline-block;
    color:white;
} */
.load a{
    font-size: 14px;
    text-decoration: none;
    color:white;

}
.load {
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
}
/* .burger{
    padding:10px;
    background-color: black;
    height: 35px;
    width: 40px;
    position: absolute;
    z-index: 99;
    margin-left:200px;
    margin-top:10px;


} */
/* #openmenu:checked~#sidebar{
    transform: translateX(0);
}
input#openmenu{
    display: none;
}
.sidebaricon{
    background-color: black;
    height: 34px;
    width: 45px;
    position: absolute;
    z-index: 99;
    top:30px;
    left:10px;
    transition: all 5s;
    cursor: pointer;
}
.spinner{
    height: 3px;
    background: white;
} */
/* footer side */
.footer-div{
    display: flex;
    justify-content: space-evenly;
}
.footer-icons{
    display: flex;
}
.designers-box{
    padding:30px;
    margin:50px;
}
.designers-box ul li{
    padding:5px;
}
.designers-box ul li a{
    text-decoration: none;
}
.designers-box h4{
    padding:10px;
}



/* fonts */
.search-icon p{
    font-size: 14px;
    font-family: 'Avenir 85';
}
.header-right a{
    font-size: 14px;
    font-family: 'Avenir 85';
}
h1{
    font-size: 24px;
    font-family: 'Avenir LT Std 45 Book';
}
.mid-section-left-side h2{
    font-size: 14px;
    font-family: 'Avenir 85';
}
.box-1 p{
    font-size: 15px;
    font-family: 'Metropolis';
}
.sidebar ul li a{
    font-size:16px;
    font-family: 'Metropolis';
    text-decoration: none;
}
aside h3{
    font-size: 12px;
    font-family: 'Avenir 85';
}
.following p{
    font-size: 16px;
    font-family: 'Avenir LT Std 45 Book';
}
.load a{
    font-size: 14px;
    font-family: 'Avenir 85';
}
.designers-box h4{
    font-size: 16px;
    font-family: 'Avenir 85';
}
.designers-box ul li a{
    font-size: 16px;
    font-family: 'Avenir LT Std 45 Book';
}
.top h2{
    font-size:32px;
    font-family: 'Avenir 85';
}
.top h3{
    font-size:14px;
    font-family: 'Avenir 85';
}
.mid-container-3 div h4{
    font-size: 14px;
    font-family: 'Avenir 85';
}
.mid-container-3 div p{
    font-size: 12px;
    font-family: 'Avenir LT Std 45 Book';
    opacity: 0.9;
}
.footer-icons div span{
    font-size: 16px;
    color:black;
}